/* @font-face {
  font-family: Product-sans;
  font-weight: bold;
  src: url('../src/Assets/fonts/Gobold_Regular.otf');
} */

@font-face {
  font-family: Product-sans;
  src: url('../src/Assets/fonts/Product_Sans.ttf');
}

.App {
  font-family: Product-sans;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.4px;
}